<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <hr>
                    <div>
                        <a id="agregacion" class="regionseleccionada" (click)="Agregar()">Agregación</a>,
                        <a id="visualizacion" class="regionnoseleccionada" (click)="Visualizar()">visualizar-editar</a>
                    </div>
                    <hr>
                </div>
                <div class="card-footer ">
                    <app-registraraut></app-registraraut>
                    <app-veraut></app-veraut>
                </div>       
            </div>
        </div>
    </div>
</div>
